.section2 {
    color: $white;
    padding-bottom: 100px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 620px;
        width: 100%;
        background: url(/assets/img/bg-menu-01.jpg) center/cover;
        left: 50%;
        bottom: -330px;
        transform: translate(-50%, -50%);
    }
    h2 {
        font-family: $font1;
        color: $color1;
        padding: 60px 0 30px;
        font-size: 2rem;
        font-weight: 500;
    }
    ul {
        @include alignChildren(space-around);
        margin: 30px auto;
        width: 50%;
        min-width: 500px;

        @media screen and (max-width: 680px) {
            max-width: 200px;
            width: 90%;
            font-size: 0.65rem;
        }
        li {
        border-bottom: 1px solid $grey;
        padding-bottom: 8px;
        }
    }

    .meals {
        background: $white;
        color: $black;
        width: 85%;
        max-width: 800px;
        margin: 0 auto;
        border-top: 4px solid $color1;
        padding: 15px 0;
        display: grid;
        grid-template-columns: 50% 50%;
        z-index: 100;
        position: relative;

        @media screen and (max-width: 680px) {
            grid-template-columns: 1fr;
        }
    
        .meal {
            display: grid;
            grid-template-columns: 25% 60% 15%;
            // align-items: center;
            margin: 0 20px;
            padding: 30px 0;
            border-bottom: 1px dashed $grey;
            

            img {
                border-radius: 50px;
                width: 100%;
                align-self: center;
                -o-object-fit: cover;
                   object-fit: cover;
                }
                .meal-text {
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    margin: 0 10px;

                    h3 {
                        text-transform: uppercase;
                        color: $black;
                        font-weight: bold;
                        font-size: 0.8rem;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 0.8rem;
                    }
            }

            > p {
                color: $color1;
                font-weight: 600;
                // @include childCenter;
                font-size: 1.1rem;
                display: grid;
                align-items: center;
                height: 100%;
            }
        }

    }
}