.section5 {
    padding: 70px 0 230px;
    position: relative;

    &:after {
        content: "";
        height: 350px;
        width: 100%;
        position: absolute;
        background: url(../img/gmap.jpg) center/cover;
        bottom: 0;
        left: 0;
    }

    .quote-container {
        z-index: 3;
        position: relative;
        background: $white;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        padding: 65px 70px;

        &:before {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background: url(../img/avatar-02.jpg) center/cover;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

        .text-container {
            line-height: 30px;

            &:before {
                content: "❝";
            }
            &:after {
                content: "❞";
            }
            &:before,
            &:after {
                font-size: 1.5rem;
            }
        }

        h2 {
            padding: 30px 0 15px;
            font-family: $font3;
            font-weight: 100;
        }

        p {
            color: $color1;
        }
    }
} 

